name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: yarn
      - run: yarn lix travix interp
      - run: yarn lix travix neko
      - run: yarn lix travix python
      - run: yarn lix travix node
      - run: yarn lix travix java
      - run: yarn lix travix cpp
      - run: yarn lix travix cs
